<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>fifafafafufa</title>
</head>
<body  style="color:black" >
    <nav >
        <a   href="./Teams.html">Teams</a>
        <a   href="./Matches.html">Matches</a>
        <a   href="./Groups.html">Groups</a>
        <a   href="./History.html">History</a>
      </nav>

    <h2 color="black" style="text-align: center">history !</h2>
    <div id="statistics">
      <table id="table" class="table">
        <th >Info for the activities</th>
        <th>DateTime</th>
      </table>
    </div>

    <script src="../javascript/TrackingContainer.js"></script>
    <script src="../javascript/History.js"></script>


</body>
</html>