<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>fifafafafufa</title>
</head>
<body  style="color:black" >
    <nav >
        <a   href="./Teams.html">Teams</a>
        <a   href="./Matches.html">Matches</a>
        <a   href="./Groups.html">Groups</a>
        <a   href="./History.html">History</a>
      </nav>
    <h4 style="text-align: center">Teams</h4>
    
    <div  >
      <table id="Teams" class="table">
          <thead>
          <th>Team</th>
          <th>Fifa code</th>
          </thead>
          <tbody>
            </tbody>
      </table>


    </div>

    <script src="../javascript/Ajax.js"></script>
    <script src="../javascript/main.js"></script>
    <script src="../javascript/TrackingContainer.js"></script>
    <script src="../javascript/History.js"></script>


</body>
</html>